* {
     margin: 0px;
     padding: 0px 
}
body{
	
	background-color: #f9f9f9;
}
 #main-container {
     width: 100%;
     margin: 0px auto;
}
 #header {
     width: 100%;
     background-color: white;
     padding: 10px;
     color: black;
	 border-bottom:1px solid #f9f9f9;
}
 #header:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
}
 #header section {
     float: left;     
     font-size: 18px;
     font-weight: bold;
	 margin-right:22px;
	 
}
input{
   display: block;            
   min-width: 100%;
   height: 6px;
   padding: 10px;
   border: solid 1px #BDC7D8;
   width:300px;
   margin-left:22px;
}

 #main-body-container {
     padding: 10px;
     margin: 0px auto;	
	 width:80%;
}
 #main-body-container:after {
     content: ".";
     display: block;
     height: 0;
     clear: both;
     visibility: hidden;
}

 #main-article {
     float: left;
     width: 60%;
     min-height: 450px;     
	 margin-top:10px;
}
 #sidebar {
     float: left;
     width: 28%;
     min-height: 450px;     
	 margin-top:10px;
	 margin-left:20px;
}
#slider-article{
	
	margin-bottom:10px;
}

 #footer {
     width: 100%;
     background-color: #ccc;
     padding: 10px;
     
}
 