
.calc{
  position:absolute;
  background-color:#DCDCDC	;
  width:300px;
  height:350px;
  
}
#disp{
  display:block;
  height:52px;
  background-color:#000;
  margin:8px;
}
.calc button{
  height:54px;
  width:71px;
  background-color:#81D4FA;
  margin : 0px;
}
#ans{
  width:295px;
}
#disp{
  font-size:45px;
  text-align:right;
  overflow:auto;
  background-color:white;
}